html {
	background-color: #4d2b25;
}

body {
	position: relative;
	background-color: #CCCCCC;
	height: 25em;
	padding-top: 1em; /* I'm not sure what it does, if problems remove */
}

.calculator {
	position: relative;
	padding: 5px;
	margin-top: 6em;
	margin-left: auto;
	margin-right: auto;
	width: 21em;
	border-radius: 8px;
	background: #65dcb4;
	box-shadow: -9px 7px 10px #272727;
}

.calc-top-container {
	position: relative;
	background-color: #4d2b25;
	width: auto;
	height: 8em;
	border-radius: 8px 8px 0px 0px;
}

.display {
	position: absolute;
	left: 0.1em;
	bottom: 0.83em;
	background: #EEEEEE;
	height: 5em;
	width: 15.5em;
	border-radius: 8px 2px 2px 2px;
}

.display p { /* display text content */
	position: absolute;
	bottom: 0.2em;
	right: 0.2em;
	font-size: 1.9em;
}

.calc-top-container button {
	display: block;
	position: relative;
	top: 2em; 
	left: 19.02em;
	width: 6em;
	height: 3.5em;
	border-style: none;
	border-radius: 2px 5px 2px 2px;
	background-color: #EEEEEE;
}

.calc-top-container button:hover {
	background-color: #bffce6;
}

.ac {
	margin-bottom: 3px;
}

.backspace {
	margin-top: 3px;
}

.calc-top-container button p { /* AC Button text content */
	font-size: 2.6em;
}

.calc-button-container {
	background-image: linear-gradient(#4d2b25 ,#734941);
	border-radius: 0px 0px 8px 8px;
	display: flex;
	flex-wrap: wrap;
}

.calc-button-container button {
	width: 6em;
	height: 6em;
	border: none;
	text-align: center;
	margin: 2px; /* !!!Temporary way to center!!! */
	border-radius: 2px;
	background-color: #bffce6;
}

.calc-button-container button:hover {
	background-color: #EEEEEE;
}

.calc-button-container p { /*Text content of buttons*/
	font-size: 3.5em;
}

.calc-button-container .keypad {
	background-color: #6effac;
}

.calc-button-container .keypad p {
	color: rgb(0, 0, 0);
}

#decPoint {
	border-radius: 2px 2px 2px 6px;
}

#add {
	border-radius: 2px 2px 6px 2px;
}